.env*

.DS_Store
*.zip
*.log

.idea/
*.iml

/pharmacy/target/
/pharmacy/pom.xml.tag
/pharmacy/pom.xml.releaseBackup
/pharmacy/pom.xml.versionsBackup

/frontend/node_modules/
/frontend/dist/
/frontend/npm-debug.log*
/frontend/coverage/


oracle-data-dev/


